{% extends "layout1.html" %}
{% block title %}
Register
{% endblock %}
{% block body %}
<div>
    <h1 style="background-color: teal;text-align: center;color: white">Book Review</h1>
    <button class="btn btn-primary" formaction="{{url_for('register')}}" method="post">Register</button>
    <button class="btn btn-primary" formaction="{{url_for('register')}}" method="post">Login</button>
</div>
<div>
    <img src="{{url_for('static',filename='image/book.jpeg')}}" width="1110" height="250">
</div>
{% endblock %}